<div class="sidebar">

    <div class="text-center animate__animated animate__backInLeft">

        <!-- Opciones -->
        <a routerLink="" style="text-decoration: none;"> <!-- Home -->
            <button 
                pButton pRipple 
                type="button" icon="pi pi-home" 
                class="p-button-rounded p-button-success p-button-text boton-sidebar">
            </button>
        </a>

        <a routerLink="/listado" style="text-decoration: none;"> <!-- Listado -->
            <button 
                pButton pRipple 
                type="button" icon="pi pi-list" 
                class="p-button-rounded p-button-success p-button-text boton-sidebar">
            </button>
        </a>

        <a routerLink="/agregar" style="text-decoration: none;"> <!-- Agregar -->
            <button 
                pButton pRipple 
                type="button" icon="pi pi-plus" 
                class="p-button-rounded p-button-success p-button-text boton-sidebar">
            </button>
        </a>

        <a routerLink="/buscar" style="text-decoration: none;"> <!-- Buscar -->
            <button 
                pButton pRipple 
                type="button" icon="pi pi-search" 
                class="p-button-rounded p-button-success p-button-text boton-sidebar">
            </button>
        </a>

    </div>
    
</div>