<div class="container">

    <!-- Titulo -->
    <hr>
    <h4 class="text-center"> Heroes </h4>
    <hr>

    <!-- Descripcion -->
    <p class="text-center" style="color: rgb(206, 203, 203); font-size: 15px;"> 
        ¡Bienvenido! En esta pagina podras guardar a tus superheroes favoritos en una tabla, y configurarlos a tu gusto. 
    </p>

    <!-- Imagenes -->
    <div class="row animate__animated animate__backInRight" style="margin-top: 50px;">

        <div class="col-2">
            <img src="assets/img-batman.png" class="imagen-heroes-home">
        </div>

        <div class="col-2">
            <img src="assets/img-superman.png" class="imagen-heroes-home">
        </div>

        <div class="col-2">
            <img src="assets/img-wonderwoman.jpg" class="imagen-heroes-home">
        </div>

        <div class="col-2">
            <img src="assets/img-ironman.png" class="imagen-heroes-home">
        </div>

        <div class="col-2">
            <img src="assets/img-capitanamerica.png" class="imagen-heroes-home">
        </div>

        <div class="col-2">
            <img src="assets/img-spiderman.png" class="imagen-heroes-home">
        </div>

    </div>

    <!-- Botones -->
    <div class="text-center">

        <!-- Comenzemos -->
        <a routerLink="/listado" style="text-decoration: none;"> 
            <button 
                pButton 
                pRipple type="button" 
                label="¡Comenzemos!" 
                class="p-button-success"
                style="top: 100px; width: 50%;">
            </button>
        </a>

    </div>


</div>